*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F1F1F1;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100vw;
}
nav>.navbar-brand{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 9%;
    font-weight: 900;
    color: #0E345A !important;
}
.navbar-nav{
    margin-right: 10% !important;
}
.navbar-nav>.nav-link{
    color: #0E345A !important;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
.navbar-nav>.nav-link:hover{
    color: #657B94 !important;
}
.about-section
{
    height: 100vh;
    width: 100vw;
    
    background: url(./wp2036897.jpg) no-repeat left;
    background-size:80% 100%;
    
    overflow: hidden;
    padding: 100px 0;
    
}
.inner-container
{
    width: 55%;
    float: right;
    background-color:#fdfdfd;
    padding:150px;
}
.inner-container h1
{
    margin-bottom: 30px;
    font-size:30px;
    font-weight: 800;
}
.border
{
    height:4px;
    padding: 2px;
    width: 150px;
    background-color: #71391B;
}
.text
{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;

}
button
{
    border: none;
    padding: 8px 15px;
    background-color:#71391B;
    color: #fff;
}
button:hover
{
    text-decoration: underline;
}
@media screen and (max-width:1200px)
{
    .inner-container
    {
        padding: 80px;
    }
}
@media screen and (max-width:1000px)
{
    .about-section
    {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container
    {
        width: 100%;
    }
    .nav-link{
        text-align: center;
    }
}
@media screen and (max-width:600px)
{
   .about-section
   {
       padding: 0;
   }
   .inner-container
   {
       padding: 60px;
   }
}