.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-link:hover{
    color: #647A94 !important;
}
.text h1,h6
{
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #0E345A;
}
.main-store
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../photos/background-repeatjpg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.photos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
}
.photos>a>img
{
    width: 250px;
    height: 350px;
    margin-bottom: 15%;
}

.box
{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 0 15px;
    text-align: center;
    overflow: hidden;
  
}
.photo-box
{
    margin-bottom:15%;
}
.box .img , .img2 , .img3 , .img4 , .img5 , .img6 , .img7 , .img8 , .img9{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover  !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    
    transition: 0.8s;

}
/* .fade{
    background: cornflowerblue;
} */
div.modal-content{
    width: 80vw !important;
    height: 90vh !important;
}
#exampleModalLabel{
    font-weight: bold;
    color: #0E345A;
    text-align: center !important;
}
input.form-control{
    width: 80%;
}
div.form-group>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#comment-btn{
    width: 50%;
}
/* .box .img
{
    background:url(../photos/1.jpg)
}
.box .img2
{
    background: url(../photos/2.jpg);
}
.box .img3
{
    background: url(../photos/3.jpg);
}
.box .img4
{
    background: url(../photos/4.jpg);
}
.box .img5
{
    background: url(../photos/5.jpg);
}
.box .img6
{
    background: url(../photos/6.jpg);
}
.box .img7
{
    background: url(../photos/7.jpg);
}
.box .img8
{
    background: url(../photos/8.jpg);
}
.box .img9
{
    background: url(../photos/9.jpg);
} */
.box:hover .img , .img2 , .img3 , .img4 , .img5 , .img6 , .img7 , .img8 , .img9
{
    background-position: 50% 0 !important;

}
.box .overlay
{
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 13, 13, 0.1);
}
.box .overlay2
{
    position: absolute;
    top:0 ;
    left: -150%;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.7);
    transform: skewX(-30deg);
    transition: .5s;

}
.box:hover .overlay2
{
    left: -10%;
}
.box .text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    color: black;
    box-sizing: border-box;
    padding: 25px;
    z-index: 1000;
    text-shadow: 5px 5px 10px black;


}
.box .text span:nth-child(1){
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 1px;
    background-color:white;
    transform-origin: left;
    transition: .7s ease-in-out;
    transition-delay: .7s;

}
.box .text span:nth-child(2){
    position: absolute;
    top: -20px;
    left: 0;
    width: 1px;
    height: 0;
    background-color: white;
    transform-origin: top;
    transition: .7s ease-in-out;
    transition-delay: .1.1s;
    
}
.box .text span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 0;
    height: 1px;
    background-color: white;
    transform-origin: right;
    transition: .7s ease-in-out;
    transition-delay: .9s;
    
}
.box .text span:nth-child(4){
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 1px;
    height: 0;
    background-color: white;
    transform-origin: left;
    transition: .7s ease-in-out;
    transition-delay: .1.3s;
    
}
.box:hover .text span:nth-child(1),
.box:hover .text span:nth-child(3){
    width: 115%;
}
.box:hover .text span:nth-child(2),
.box:hover  .text span:nth-child(4){
    height: 115%;
}
.box .text h2
{
    position: relative;
    color:gold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
    opacity: 0;
    transition:.5s;
    transition-timing-function: linear;
    transform: translateY(-10px);

}
.box:hover .text h2{
   
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
}
.box .text p{
    color: white;
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
    transition-timing-function: linear;


}
.box:hover .text p{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.7s;
}
.box .text a{
    color: lightblue;
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
    transition-timing-function: linear;


}
.box:hover .text a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.7s;
}
.hover-btn
{
    background: linear-gradient(45deg, #1f4037,#99f2c8);
    color: white;
    border-radius: 20px;
}
.fa-star
{
    margin-top: 5%;
    font-size: 2em;
    font-weight: 100;
    margin-left: 1%;
    color:rgba(206, 206, 25, 0.904);
    
    
}
.star-icons
{
    margin-left: 22%;
}
.fa-star-half-alt
{
    margin-top: 5%;
    font-size: 2em;
    color:rgba(206, 206, 25, 0.904);
    margin-left: 1%

}
/* @media screen and (max-width:600px) {
    .photos{
        width: 100%;
    }
} */